release-0.0.1-document_gestion-release.txt # reporte fallo de guardado - pérdida de documentos y estructura
release-0.0.2-document_gestion-release.txt # informe publicación - document_gestion	(release)